#oldal {
    width:  700px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h4 {
    color: orange;
}
.bgorange{
    background-color: orange;
    padding: 15px;
    color:white;
}
.orangeline{
    
    height: 40px;
    padding-top: 15px;
}
.felsorolas{
    width: 80%;
    height: 50px;
    padding-top: 25px;
}
#plus{
    margin-left: 5%;
    color:white;
    background-color: orange;
    height: 50px;
    padding-top: 25px;
    width: 90%;
}
.elsooszlop{ 
    width: 45%;
    float: left;
    text-align: center;
}
.masodikoszlop{
    text-align: justify;
}
.csik{
    width: 90%;
    margin: 0 auto;
}

.elsooszlop1{ 
    width: 28%;
    float: left;
    text-align: center;
}
.masodikoszlop1{
    text-align: justify;
    margin-left: 34%;
}
span{
    float:right;
}
